.mainLogo
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    align-items: center
    &__icon
        max-width: 100%
        width: 60px
        height: auto
        margin-right: 20px
    &__text
        font-family: $ff-montserratBold
        font-size: 20px
        color: $color-purple
        text-transform: uppercase
    &:hover,
    &:active,
    &focus
        text-decoration: none