.mainContainer

//----------------------------------------
// 				Front page
//----------------------------------------

// section-hero

.section-hero
    &__row
        
    &-textBlock
        display: flex
        flex-direction: column
        justify-content: center
        font-family: $ff-asapRegular
        &__title
            margin-top: 30%
            font-size: 50px
            line-height: 60px
            color: $color-turquoise
            margin-bottom: 30px
            text-transform: uppercase
        &__desc
            font-size: 26px
            line-height: 30px
            color: $color-purple
    &-imageBlock
        min-height: 600px
        display: flex
        flex-direction: column
        justify-content: center
        &__img
            display: block
            width: 100%
            height: auto

+media-breakpoint-down($lg)
    .section-hero-textBlock__title
        text-align: center
        margin-top: 0
        font-size: 35px
        line-height: 40px

// section-sellingPoints

.section-sellingPoints
    &__row
    &__col
        margin-top: 60px
        margin-bottom: 60px

.sellingPoints-block
    display: flex
    flex-direction: column
    text-align: center
    background-color: $color-whiteLight
    padding: 30px
    border-radius: $borderRadius-main
    box-shadow: $boxShadow-main
    height: 100%
    &__icon
        margin-bottom: 20px
        height: 250px
        &Img
            display: block
            height: 250px
            width: auto
            margin: auto

    &__title
        text-transform: uppercase
        color: $color-turquoise
        font-size: $fontSize-titleMain
        line-height: $lineHeight-titleMain
        margin-bottom: 20px
    &__desc
        text-align: left
        font-size: 18px
        margin-bottom: 20px

#increaseIcon .sellingPoints-block__iconImg
    width: 210px

+media-breakpoint-down($lg)
    .section-sellingPoints__col
        margin-top: 30px
        margin-bottom: 30px
    .sellingPoints-block
        padding: 15px 30px
    .section-sellingPoints
        margin-bottom: 30px

// section-mainFeatures

.section-mainFeatures
    &__row

.mainFeatures
    display: flex
    flex-direction: row
    align-items: center
    &__col
        margin-bottom: 30px

    &__textBlock
        background-color: $color-whiteLight
        border-radius: $borderRadius-main
        box-shadow: $boxShadow-main
        padding: 40px
        &-title
            color: $color-turquoise
            font-size: $fontSize-titleMain
            line-height: $lineHeight-titleMain
            text-transform: uppercase
            margin-bottom: 30px
        &-desc
            font-size: $fontSite-descMain
    &__imageBlock
        display: flex
        &-img
            display: block
            width: 100%
            height: auto

//----------------------------------------
// 				UPSELL page
//----------------------------------------


body.upsell-page,
body.page-id-42
    background-image: url("../images/uppsell-BG.svg")    


// section-upsellHero
.section-upsellHero
    margin-top: 120px
    margin-bottom: 120px

.section-upsellHero__bgImg
    max-height: 500px
    min-width: 240px

.upsellHero-block
    &__title
        @extend .section-hero-textBlock__title
        margin-top: 10%
        margin-bottom: 60px
        text-transform: uppercase
        color: $color-turquoise
    &__desc
        @extend .section-hero-textBlock__desc

+media-breakpoint-down($lg)
    .section-upsellHero
        margin-top: 30px
        margin-bottom: 30px
    .section-upsellHero__bgImg
        margin: 0 auto 60px auto
    .upsellHero-block__title
        margin-top: 0

+media-breakpoint-up($lg)
    .section-upsellHero__bgImg
        min-width: 320px



// .section-pointsBlocks

.section-pointsBlocks
    &__col
        @extend .section-sellingPoints__col

.pointsBlock
    @extend .sellingPoints-block
    &__icon
        @extend .sellingPoints-block__icon
        margin-bottom: 30px
        &Img
            @extend .sellingPoints-block__iconImg
    &__title
        @extend .sellingPoints-block__title
        margin-bottom: 30px
    &__desc
        @extend .sellingPoints-block__desc

+media-breakpoint-up($lg)
    .section-pointsBlocks
        margin-bottom: 90px

// section-features

.section-features
    margin-top: 60px

.section-features .mainFeatures__col
    margin-bottom: 90px


#applyDiscounts .mainFeatures__col
    justify-content: flex-end
    display: flex
#applyDiscounts .mainFeatures__imageBlock
    max-width: 400px

#pickTriggers .mainFeatures__imageBlock
    max-width: 300px

#viewUpsellStats .mainFeatures__col
    display: flex
    justify-content: flex-end
#viewUpsellStats .mainFeatures__imageBlock
    max-width: 400px

+media-breakpoint-up($lg)
    .section-features #applyDiscounts .mainFeatures__col
        margin-bottom: 15%

+media-breakpoint-down($lg)
    .section-features .mainFeatures__col
        margin-bottom: 30px
    .section-features
        margin-top: 30px
        margin-bottom: 30px
    .mainFeatures .mainFeatures__col
        justify-content: center !important
        display: flex
    #pickTriggers .mainFeatures__imageBlock
        max-width: 400px

// section-discountItems

.section-discountItems
    &__row
    &__col
        margin-bottom: 60px


.discountItem
    height: 100%
    background-color: $color-whiteLight
    border-radius:  $borderRadius-main
    box-shadow: $boxShadow-main
    padding: 30px
    &__icon
        display: flex
        flex-direction: row
        justify-content: center
        margin-bottom: 20px
        &-img
            max-width: 70px
    &__title
        font-size: 24px
        line-height: 26px
        text-align: center
        color: $color-pink
        margin-bottom: 20px
        text-transform: uppercase
    &__desc
        font-size: $fontSite-descMain

+media-breakpoint-up($lg)
    .section-discountItems
        margin-bottom: 60px
        &__row
        &__col
            padding: 0 50px
            margin-bottom: 90px

// section-priceModel

.section-priceModel
    margin-bottom: 30px
    &__row
    &__col
        

.priceModel
    background-color: $color-whiteLight
    border-radius:  $borderRadius-main
    box-shadow: $boxShadow-main
    padding: 30px 50px
    &__row
    &__col
        margin-bottom: 20px
    &__title
        text-align: center
        color: $color-pink
        text-transform: uppercase
        margin-bottom: 20px
    &__subTitle
        text-align: center
        color: $color-purple
        font-size: $fontSize-titleMain
        line-height: $lineHeight-titleMain
    &__text
    &__linkContainer
        margin-bottom: 0


+media-breakpoint-up($lg)
    .section-priceModel
        margin-bottom: 60px
    .priceModel
        margin: 0 30px
    .priceModel__col
        margin-bottom: 30px
    .priceModel__subTitle
        font-size: 40px
        margin-bottom: 20px
    .priceModel__text
        padding: 0 30px



//----------------------------------------
// 				Help page
//----------------------------------------

body.help,
body.page-id-64
    background-image: url("../images/help-bg.svg")

// section-search


.section-search
    margin-top: 30px
    margin-bottom: 30px 
    &__row
    &__col
        &-searchBlock
            display: flex
            flex-direction: row
            justify-content: flex-end

.searchForm
    display: inline-block
    &__inputContainer
        display: flex
        flex-direction: row
        align-items: center
        position: relative
        justify-content: flex-end
    &__searchIcon
        margin-right: 10px
    &__inputSearch


.inputSearch
    background-color: transparent
    border: 1px solid transparent
    padding-left: 5px
    padding-right: 5px
    width: 100px
    transition: width 1s
    transition-timing-function: ease-in-out
    &:hover,
    &:active,
    &:focus
        border-bottom:  1px solid  $color-purple
        outline: none
        width: 200px
.searchIcon
    display: inline-block
    content: ''
    color: transparent
    background-color: transparent
    outline: none
    border: none
    width: 20px
    height: 20px
    cursor: pointer
    background-image: url("../images/icons/ic_search_24px.svg")
    background-size: cover
    background-repeat: no-repeat
    z-index: 9
.closeIcon
    display: inline-block
    display: none
    width: 20px
    height: 20px
    cursor: pointer
    background-image: url("../images/icons/close-icon.svg")
    background-size: cover
    background-repeat: no-repeat
    z-index: 9

// section-helpHero

.section-helpHero
    &__row
    &__col
        &-block
            display: flex
            flex-direction: row
            justify-content: center
    
.helpHero
    display: flex
    flex-direction: column
    &__logo
        max-width: 120px
        margin-bottom: 30px
        & img
            
    &__title
        color: $color-turquoise
        text-transform: uppercase
        margin-bottom: 20px
        font-size: 40px
    &__desc
        font-size: 20px
        padding-right: 10%
        margin-bottom: 30px


.helpBlock
    background-color: $color-whiteLight
    border-radius: $borderRadius-main
    box-shadow: $boxShadow-main
    display: flex
    flex-direction: column
    height: 100%
    &__header
        padding: 15px
        &-text
            font-size: $fontSize-titleMain
            color: $color-turquoise
            text-align: center
            margin-bottom: 10px
            margin-top: 10px
        &-link
            display: block
            color: $color-white
            background-color: $color-yellow
            padding: 10px 20px
            border-radius: $borderRadius-main
            font-size: 20px
            &:hover,
            &:active,
            &:focus
                color: $color-white
                text-decoration: none
                background-color: $color-yellowLight
    &__content
        &-nav
            list-style: none
            display: flex
            flex-direction: column
            align-content: space-between
            margin-bottom: 20px
            &Li
                &-a
                    color: $color-purple
                    padding: 12px 30px 
                    display: block
                    font-size: 20px
                    &:hover,
                    &:active,
                    &:focus
                        color: $color-pink

.section-helpBlocks
    &__row
    &__col
        margin-bottom: 60px


+media-breakpoint-up($lg)
    .section-helpBlocks
        margin-top: 120px
        margin-bottom: 120px
    .section-helpHero__col-block
        justify-content: flex-end

+media-breakpoint-down($lg)
    .section-helpBlocks
        margin-top: 60px
    .helpHero__logo
        align-self: center
    .helpHero__title
        font-size: 35px
    .helpHero__desc
        font-size: 18px
        margin-bottom: 60px

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus
  background-color: transparent !important
  -webkit-background-color: transparent !important
  color: #000
  
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active 
  -webkit-box-shadow: 0 0 0px 1000px white inset !important

//----------------------------------------
// 				 Page Results
//----------------------------------------

.shortHeader
  display: flex
  align-items: center
  margin-bottom: 20px
  &__icon
    & img 
      max-width: 50px
  &__text
    color: $color-turquoise
    text-transform: uppercase
    font-size: 35px
    margin-left: 20px

.searchResult
  &__container
    background-color: $color-whiteLight
    border-radius: $borderRadius-main
    box-shadow: $boxShadow-main

.searchResult-item
  margin-bottom: 40px
  &__a
    display: flex
    flex-direction: row
    align-items: center
    justify-content: flex-start
    padding: 10px 0
    margin-bottom: 10px
    &Span
      border-top: 10px solid transparent
      border-bottom: 10px solid transparent
      border-left: 15px solid $color-yellow
      width: 0
      height: 0
      display: inline-block
      color: #000
      margin-right: 10px
    &Text
      display: inline-block
      font-size: 20px
      color: $color-purple
      font-weight: bold
  
.searchResult-loadMore
  display: flex
  justify-content: center
  margin-top: 50px
  &__link
    display: block
    color: $color-pink
    font-size: 20px
    font-weight: bold
    &:hover,
    &:active,
    &focus
      color: darken( $color-pink, 10% )

+media-breakpoint-down($lg)
  .shortHeader__text
    font-size: 24px

.searchResult-NoItem
  margin-top: 30px
  margin-bottom: 30px
  &__text
    color: $color-pink
    font-size: 20px
    font-weight: bold

//----------------------------------------
// 				Contact page
//----------------------------------------

body.contact-page,
body.page-id-60
  background-image: url(../images/contactBg.svg)

.contact-section
  margin: 60px 0
  &__row
  &__col

.pageTitle
  font-size: 40px
  color: $color-turquoise
  margin-bottom: 30px

.contactForm
  &__name
  &__email
  &__messageCount
    text-align: right
    color: $color-yellow
    font-size: 20px
    margin-top: 5px
    margin-bottom: 5px
  &__message
  &__submit
    text-align: right

.contactForm input[type="text"],
.contactForm input[type="email"],
.contactForm input[type="namber"]
  border: none
  border-bottom: 2px solid $color-purple
  outline: none
  font-size: 20px
  width: 100%
  padding: 4px 0
  margin-bottom: 10px
  background-color: transparent
.contactForm input::-webkit-input-placeholder,
.contactForm textarea::-webkit-input-placeholder
  color: $color-purple

.contactForm textarea
  border: 2px solid $color-purple
  width: 100%
  border-radius: $borderRadius-main
  padding: 10px
  font-size: 20px
  height: 200px
  // background-color: transparent
.contactForm input[type="submit"]
  width: initial
  font-size: 20px
  border: 1px solid  lighten( $color-yellow, 20% )
  background-color: lighten( $color-yellow, 30% )
  border-radius: 20px
  padding: 5px 50px
  outline: none
  transition: $transitionAll
  margin: 30px 0
.contactForm input[type="submit"]:hover,
.contactForm input[type="submit"]:active,
.contactForm input[type="submit"]:focus
  background-color: lighten( $color-yellow, 10% )

.contactInfo
  font-size: 20px
  &__title
    margin-bottom: 30px
  &__p

// .contactForm>.wpcf7
//   display: none

.contactFormSuccess
  display: none
  font-size: 20px

//----------------------------------------
// 				Careers page
//----------------------------------------

body.careers-page,
body.page-id-56
  background-image: url(../images/careersBG.svg)

.contactInfo
  &__p
  &__link
    display: inline-block
    color: $color-purple
    font-size: 18px
    &:hover,
    &:active,
    &focus
      color: $color-purple

  
+media-breakpoint-up($lg)
  .section-careersInfo .pageTitle
    margin-bottom: 100px
    margin-top: 30px
  .contactInfo__link
    margin-top: 30px
    margin-bottom: 30px
    font-size: 30px

//----------------------------------------
// 				About page
//----------------------------------------
body.about-page,
body.page-id-54
  background-image: url(../images/aboutBG.svg)

.about-section
  &__row
  &__col

.hugeLogo
  &__img
    width: 100%
    max-width: 400px
    margin: 30px auto

.aboutContent
  &__text
    font-size: 16px
    color: $color-purple
  &__img
    padding: 40px 60px
    &Icon
      background-color: #ccc

+media-breakpoint-up($lg)
  .about-section
    margin-top: 60px
    margin-bottom: 60px

//----------------------------------------
// 				FAQ page
//----------------------------------------
body.faq-page,
body.page-id-62
  background-image: url(../images/careersBG.svg)

.faq-section
  margin-top: 60px
  margin-bottom: 60px
  &__item

.collapseBlock
  background-color: $color-whiteLight
  box-shadow: $boxShadow-main
  border-radius: $borderRadius-main
  transition: $transitionAll
  padding: 30px
  margin-bottom: 20px
  &__title
    &-link
      font-size: 30px
      color: $color-purple
      &:hover,
      &:active,
      &focus
        color: lighten( $color-purple, 10%)
  &__content
    &-text
      margin-top: 20px

.collapseBlock.active .collapseBlock__title-link
  font-weight: bold

.collapseBlock__content
  display: none
  
+media-breakpoint-up($lg)
  .faq-section
    margin-top: 90px
    margin-bottom: 90px
    padding: 0 30px

+media-breakpoint-down($lg)
  .collapseBlock__title-link
    font-size: 20px
  .collapseBlock__content-text
    font-size: 16px

//----------------------------------------
// 				Article Post
//----------------------------------------

body.single
  background: #fff

.section-postHead
  margin-bottom: 60px
  margin-bottom: 60px
  &__title
    text-transform: uppercase
    margin-bottom: 10px
  &__author
    color: $color-yellow
  &__author
    margin-bottom: 10px
    &Name
      color: $color-yellow
      &:hover,
      &:active,
      &focus
        color: $color-yellow
  &__date
    color: $color-yellow
    margin-bottom: 10px
    &:hover,
    &:active,
    &focus
      color: $color-yellow

.postSuggestions
  border-top: 1px solid #F3ECD3
  &__title
    color: $color-purple
    font-weight: bold
    font-size: 20px
    margin-top: 20px
    margin-bottom: 20px
    padding-left: 20px
    padding-right: 20px

.section-postContent
  &__text
    margin-bottom: 40px
  &__img
    margin-bottom: 40px
    &Icon
      width: 100%
  
.navLink
  display: flex
  flex-direction: row
  align-items: center
  padding: 10px 0
  margin-bottom: 10px
  justify-content: flex-start
  &__triangle
    border-top: 10px solid transparent
    border-bottom: 10px solid transparent
    border-left: 15px solid $color-yellow
    width: 0
    height: 0
    display: inline-block
    margin-right: 10px
  &__text
    color: $color-purple
    font-weight: bold
    font-size: 20px
    display: inline-block

+media-breakpoint-down($lg)
  .section-postHead
    margin-top: 90px
    margin-bottom: 90px
  .section-postContent__text
    margin-bottom: 30px
  .section-postContent__img
    margin-bottom: 30px