/*==========  Mobile First  ==========*/
/*==========  Desktop First  ==========*/
@font-face {
  font-family: "Asap-Regular";
  src: url("../fonts/asap/Asap-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Asap-Bold";
  src: url("../fonts/asap/Asap-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Asap-Italic";
  src: url("../fonts/asap/Asap-Italic.otf") format("opentype");
}

@font-face {
  font-family: "Asap-Medium";
  src: url("../fonts/asap/Asap-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/montserrat/Montserrat-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Montserrat-Light";
  src: url("../fonts/montserrat/Montserrat-Light.otf") format("opentype");
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url("../fonts/montserrat/Montserrat-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/montserrat/Montserrat-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Montserrat-Italic";
  src: url("../fonts/montserrat/Montserrat-Italic.otf") format("opentype");
}

body {
  font-family: "Asap-Regular", Omnibus Type, sans-serif;
  font-size: 16px;
  color: #3B1274;
  background-image: url("images/mainBG.svg");
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
}

.mainLogo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainLogo__icon {
  max-width: 100%;
  width: 60px;
  height: auto;
  margin-right: 20px;
}

.mainLogo__text {
  font-family: "Montserrat-Bold", Julieta Ulanovsky, sans-serif;
  font-size: 20px;
  color: #3B1274;
  text-transform: uppercase;
}

.mainLogo:hover, .mainLogo:active, .mainLogofocus {
  text-decoration: none;
}

.btnLink {
  display: inline-block;
  background-color: #ffffff;
  color: #3B1274;
  padding: 25px 80px;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  font-size: 20px;
}

.btnLink:hover, .btnLink:active, .btnLinkfocus {
  text-decoration: none;
  background-color: #dddddd;
  color: #F36A7B;
}

.btnLink.btnLink_color_pink {
  background-color: #F36A7B;
  color: #ffffff;
}

.btnLink.btnLink_color_pink:hover, .btnLink.btnLink_color_pink:active, .btnLink.btnLink_color_pinkfocus {
  background-color: #ef3b51;
}

.mainHeader-nav {
  margin: 8px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainHeader-nav-mobContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.mainHeader-nav-menuContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.mainHeader-nav-menuContainer__ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.mainHeader-nav-menuContainer__li:hover > .sub-menu,
.mainHeader-nav-menuContainer__li:active > .sub-menu,
.mainHeader-nav-menuContainer__lifocus > .sub-menu {
  display: block;
}

.mainHeader-nav-menuContainer__a {
  display: block;
  font-family: "Asap-Regular", Omnibus Type, sans-serif;
  font-size: 26px;
  color: #3B1274;
  padding: 15px;
  position: relative;
}

.mainHeader-nav-menuContainer__a:hover, .mainHeader-nav-menuContainer__a:active, .mainHeader-nav-menuContainer__afocus {
  text-decoration: none;
  color: #F36A7B;
}

.sub-menu {
  display: none;
  position: absolute;
  list-style: none;
  padding-left: 0;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 50;
}

.sub-menu > li:last-child a {
  border-bottom: transparent;
}

.sub-menu > li > a {
  color: #3B1274;
  padding: 15px 20px;
  min-width: 150px;
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}

.sub-menu > li > a:hover, .sub-menu > li > a:active, .sub-menu > li > afocus {
  color: #F36A7B;
  text-decoration: none;
}

@media (max-width: 991.98px) {
  .mainHeader-nav {
    margin: 0;
  }
  .mainHeader-nav-mobContainer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .mainHeader-nav-mobContainer__a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .mainHeader-nav-mobContainer__btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .navbar-toggler {
    display: block;
    height: 50px;
    margin: auto;
  }
  .mainHeader-nav-menuContainer__ul {
    margin-top: 10px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    background-color: rgba(255, 255, 255, 0.9);
  }
  .mainHeader-nav-menuContainer__li {
    width: 100%;
  }
  .mainHeader-nav-menuContainer__li:last-child .mainHeader-nav-menuContainer__a {
    border-bottom: transparent;
  }
  .mainHeader-nav-menuContainer__a {
    width: 100%;
    padding: 15px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
  }
  .sub-menu {
    display: block;
    position: initial;
    padding-left: 30px;
    padding-right: 30px;
    -webkit-border-radius: initial;
            border-radius: initial;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  }
}

.section-hero-textBlock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Asap-Regular", Omnibus Type, sans-serif;
}

.section-hero-textBlock__title {
  margin-top: 30%;
  font-size: 50px;
  line-height: 60px;
  color: #51E3D4;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.section-hero-textBlock__desc {
  font-size: 26px;
  line-height: 30px;
  color: #3B1274;
}

.section-hero-imageBlock {
  min-height: 600px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-hero-imageBlock__img {
  display: block;
  width: 100%;
  height: auto;
}

.section-sellingPoints__col {
  margin-top: 60px;
  margin-bottom: 60px;
}

.sellingPoints-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  height: 100%;
}

.sellingPoints-block__icon {
  margin-bottom: 20px;
  height: 250px;
}

.sellingPoints-block__iconImg {
  display: block;
  height: 250px;
  width: auto;
  margin: auto;
}

.sellingPoints-block__title {
  text-transform: uppercase;
  color: #51E3D4;
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 20px;
}

.sellingPoints-block__desc {
  text-align: left;
  font-size: 18px;
  margin-bottom: 20px;
}

#increaseIcon .sellingPoints-block__iconImg {
  width: 210px;
}

@media (max-width: 991.98px) {
  .section-hero-textBlock__title {
    margin-top: 50px;
    font-size: 40px;
    line-height: 45px;
  }
  .section-sellingPoints__col {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .sellingPoints-block {
    padding: 30px 40px;
  }
}

.mainFooter {
  padding: 60px 0;
}

.mainFooter-infoBlock__logo {
  margin-bottom: 30px;
  height: 70px;
}

.mainFooter-infoBlock__desc {
  color: #3B1274;
  font-size: 18px;
}

.mainFooter-navBlock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mainFooter-navBlock__title {
  font-family: "Asap-Bold", Omnibus Type, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  height: 70px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainFooter-navBlock__content {
  margin-bottom: 60px;
}

.footerNav {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.footerNav__a {
  color: #3B1274;
  font-size: 20px;
  padding: 8px 0;
  display: block;
}

.footerNav__a:hover, .footerNav__a:active, .footerNav__afocus {
  text-decoration: none;
  color: #F36A7B;
}

@media (max-width: 991.98px) {
  .mainFooter-navBlock__title {
    margin-bottom: 0;
  }
  .mainFooter-navBlock__content {
    margin-bottom: 30px;
  }
  .mainFooter-infoBlock {
    margin-bottom: 30px;
  }
}

/*==========  Mobile First  ==========*/
/*==========  Desktop First  ==========*/
